{% extends "app/layout.html" %}

{% block content %}

<section>
    <div class="home-bckg-text">
        <h1>Welcome to my<br />
        Crocheting Shop</h1>
        <h3>I do many types of crocheting products such as, stuffed animals, beanies, dolls,<br />
        clothing, and accessories. Feel free to check out my wares, explore my<br />
        socials, and or contact me for commissions!<br />
        </h3>
        <button class="home-button contact-button">Contact Me!</button>
    </div>
</section>

<section>
    <nav class="shop_navbar">
        <a href="{% url 'home' %}">Home</a>
        <a href="#apparel">Apparel</a>
        <a href="#toys">Toys</a>
        <a href="#pets">Pets</a>
        {% for category in categories %}
            {% if user.is_authenticated %}
                <a href="{% url 'create_product' category.id %}">Create {{ category.name }}</a>
            {% endif %}
        {% endfor %}
    </nav>

    <div class="Home_product_bckg">
        {% for category in categories %}
            <h1 id="{{ category.name|lower }}" class="centered-text home_title_text">{{ category.name }}</h1>
            {% for product in category.products.all %}
                <div class="column">
                    <div class="card">
                        <img src="{{ product.image.url }}" alt="{{ product.name }}" style="width:100%"/>
                        <h1>{{ product.name }}</h1>
                        <p class="price">${{ product.price }}</p>
                        {% if user.is_authenticated and user == product.owner %}
                            <p><a href="{% url 'edit_product' product.id %}"></a></p>
                            <p><a href="{% url 'delete_product' product.id %}"></a></p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>

    
</section>
{% endblock %}
