{% extends "app/layout.html" %}

{% block content %}

<section>
    <div class="home-bckg-text">
        <h1>Welcome to my<br />
        Crocheting Shop</h1>
        <h3>I do many types of crocheting products such as, stuffed animals, beanies, dolls,<br />
        clothing, and accessories. Feel free to check out my wares, explore my<br />
        socials, and or contact me for commissions!<br />
        </h3>
        <button class="home-button contact-button">Contact Me!</button>
    </div>
</section>

<section>
    <nav class="shop_navbar">
        <a href="{% url 'home' %}">Home</a>
        <a href="#Apparel">Apparel</a>
        <a href="#Toys">Toys</a>
        <a href="#Pets">Pets</a>
    </nav>

    <!-- DIV for Apparel section -->
    <div class="Home_product_bckg">
        <h1 id="Apparel" class="centered-text home_title_text">Apparel</h1>
        <div class="card">
            <img src="../../static/app/images/crochet_beanie.jpg" alt="Denim Jeans" style="width:100%" />
            <h1>Crochet Beanie</h1>
            <p class="price">$19.99</p>
            <p><button>Add to Cart</button></p>
        </div>

        <!-- DIV for Toys section -->
        <h1 id="Toys" class="centered-text home_title_text">Toys</h1>
        <div class="card">
            <img src="../../static/app/images/crochet_cat.jpg" alt="Denim Jeans" style="width:100%" />
            <h1>Crochet Cat</h1>
            <p class="price">$19.99</p>
            <p><button>Add to Cart</button></p>
        </div>

        <!-- DIV for pets section -->
        <h1 id="Pets" class="centered-text home_title_text">Pets</h1>
        <div class="card">
            <img src="../../static/app/images/crochet_collar.webp" alt="Denim Jeans" style="width:100%" />
            <h1>Crochet Collar</h1>
            <p class="price">$19.99</p>
            <p><button>Add to Cart</button></p>
        </div>
    </div>

    
</section>
{% endblock %}
