{% extends "app/layout.html" %}

{% block content %}



<section>
    <nav class="shop_navbar">
        <a href="{% url 'home' %}">Home</a>
        <a href="#apparel">Apparel</a>
        <a href="#toys">Toys</a>
        <a href="#pets">Pets</a>
    </nav>


    <div class="Home_product_bckg">

        <!-- This will check if the user is authenticated/owner and will allow them to create a product-->

        <div>
            {% if user.is_authenticated %}
                <p>User is authenticated: {{ user.username }}</p> <!-- LINE FOR DEBUGGING -->
            {% else %}
                <p>User is not authenticated</p> <!-- LINE FOR DEBUGGING -->
            {% endif %}
        </div>

        
        <!--If the user has logged in, will allow them to access the create button-->
        {% if user.is_authenticated %}
                <a class="create_button" href="{% url 'create_apparel' %}">Create Apparel</a>
                <a class="create_button" href="{% url 'create_toys' %}">Create Toys</a>
                <a class="create_button" href="{% url 'create_pets' %}">Create Pets</a>
        {% endif %}
        
        

        <!-- The Apparel, Toys, and Pets Div that will display the product cards -->
        

        

        <h1 id="toys">Toys</h1>
        {% for s in entry2 %}
            <div class="column">
                <div class="card">
                    <img src="{{ s.image }}" alt="{{ s.name }}" style="width:100%"/>
                    <h1>{{ s.name }}</h1>
                    <p class="price">${{ s.price }}</p>
                </div>
            </div>
        {% endfor %}

        <h1 id="pets">Pets</h1>
        {% for s in entry3 %}
            <div class="column">
                <div class="card">
                    <img src="{{ s.image }}" alt="{{ s.name }}" style="width:100%"/>
                    <h1>{{ s.name }}</h1>
                    <p class="price">${{ s.price }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

    
</section>
{% endblock %}
