

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/*** STYLING FOR  HEADER NAVBAR AND HOME BACKGROUND  ***/



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.home-body-container{
    min-height: 100vh;
    background: url(../images/yellow_blue_crocheting.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 50px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 32px;
    color: white;
    text-decoration: none;
    font-weight: 700;

}

.home_navbar a{
    position: relative;
    font-size: 18px;
    color: white;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.home_navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 3px;
    background-color: white;
    transition: .3s;
}

.home_navbar a:hover::before{
    width: 100%;


}

/****   END OF STYLING FOR HOME NAVBAR AND BACKGROUND  ****/



/****   STYLING FOR HOME PAGE    ****/

.Home_product_bckg {
    background-color: rgb(255, 255, 255);
    z-index: 0;
    height: 400px;
    width: 100%;
    display: block;
    margin-top: 0;
}

.home-bckg-text {
    z-index: 1;
    align-items: center;
    top: 15vw;
    left: 8vw;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 300px;
    margin-top: 300px;
    margin-left: 100px;
    display: block;
}

.home-bckg-text h1 {
    font-size: 6em;

}

.centered-text {
    text-align: center;
}

.home_featured-text {
    padding-top: 50px;
    margin-top: 0;

}

/***  HOME PAGE STYLING ENDS HERE    ***/

/****   SHOP NAVBAR STYLING STARTS HERE   ****/


.shop_navbar {
    display: block;
    width: 100%;
    align-content: center;
    background-color: darkorange;
    height: 100px;
    margin-top: 20px;
}

/****   SHOP NAVBAR STYLING ENDS HERE   ****/


/****  FOOTER SECTION STARTS HERE   *****/
footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}
/** Styling for the h3 element with the footer content **/
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;

}
/** Styling for the p element with the footer content **/
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;

}
/** Styling for the socials **/
.socials{
   line-style: none;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;

}

.socials a{
    text-decoration: none;
    color: #fff;

}

.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;

}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-decoration: capitalize;
}

.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

/****  FOOTER SECTION ENDS HERE   *****/



/***  button styling STARTS HERE   ****/

.home-button,
.contact-button{
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    z-index: -2;
}

.contact-button{
    background-color: #008CBA;
}

.home-button:hover,
.contact-button:hover{
    background-color: #005a7a !important;
}

/***  button styling ENDS HERE  ***/